.container {
  font-family: 'Arial', sans-serif;
  background-image: url('Diseño\ sin\ título.jpg');
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.label {
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.input {
  padding: 12px;
  border: 1px solid #4a90e2;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
  margin-bottom: 15px;
  color: #000000; 
  background-color: #fff; 
}

.input:focus {
  border-color: #4a90e2;
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: #357ab8;
}

.dialogButton {
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.dialogButton:hover {
  background-color: #357ab8;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.modal {
  max-width: 400px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -40%);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modalTitle {
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dialogButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
